*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# sorry but didn't include sample for some security reason
# please write one on your own
/sample